body {
  overflow: hidden !important;
  padding: 0px !important;
  margin: 0px !important;
}
.mainauthdiv {
  background: radial-gradient(
    104.92% 104.92% at -2.66% 53.79%,
    #20a4ff 0%,
    #53b9ff 25.83%,
    #ffd4af 70.62%,
    #ffd4af 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.mainauthdiv img {
  width: 100%;
  height: 46.2rem;
}

.formdiv {
  background: white;
  border-radius: 20px;
  display: flex;
  height: 63%;
  width: 60%;
}
.leftdiv {
  width: 50%;
}
.leftdiv img {
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.rightdiv {
  width: 50%;
  padding-top: 12%;
  display: flex;
  justify-content: center;
}

.rightdiv h1 {
  font-size: 23px;
}

.rightdiv p {
  color: gray;
  font-size: 13px;
}

.slectimgdiv img {
  width: 15px;
  height: 15px;
}

.selectdivoption {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.selectdivoption input {
  border: none;
}

.selectdivoption input:focus {
  outline: none;
}

.onlycodeinput {
  margin-bottom: 1%;
  font-size: 14px;
}

.getbtn {
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  border: none;
  background: rgba(251, 140, 0, 1);
  border-radius: 7px;
  color: white;
}
.otpinput {
  border: 0.7px solid red;
  border-radius: 0.5rem;
  outline: none;
  min-width: 2.2rem;
  height: 2.2rem;
}
.innearformddiv {
  width: 70%;
}
.divinputInfo input{
  width: 100%;
  height: 34px;
  font-size: 18px;
  border: none;
  border-bottom: 1px sloid 808D9E;
  border-bottom: 1px solid gray;
  margin-bottom: 7%;
}

.divinputInfo input:focus{
  outline: none;
}
.divinputInfo10 input{
  width: 100%;
  height: 34px;
  font-size: 18px;
  border: none;
  border-bottom: 1px sloid 808D9E;
  border-bottom: 1px solid gray;
}

.divinputInfo10 input:focus{
  outline: none;
}
@media screen and (max-width: 780px) {
  .mainauthdiv {
    background: radial-gradient(
      104.92% 104.92% at -2.66% 53.79%,
      #20a4ff 0%,
      #53b9ff 25.83%,
      #ffd4af 70.62%,
      #ffd4af 100%
    );
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .formdiv {
    width: 83%;
    height: auto;
    flex-direction: column;
    padding-bottom: 5%;
  }

  .leftdiv img {
    width: 100%;
    height: 20rem;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }
  .leftdiv {
    width: 100%;
  }
  .rightdiv {
    width: 100%;
    padding-top: 12%;
    display: flex;
    justify-content: center;
  }
  .getbtn {
    margin-top: 7%;
  }
  .innearformddiv {
    width: 82%;
}
.otp-input{
  padding: 4%;
}
.input-group{
  display: flex;

}
}
