body {
  overflow: hidden!important;
  padding: 0px!important;
  margin: 0px!important;
}
.mainauthdiv {
  background: radial-gradient(
    104.92% 104.92% at -2.66% 53.79%,
    #20a4ff 0%,
    #53b9ff 25.83%,
    #ffd4af 70.62%,
    #ffd4af 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.mainauthdiv img {
  width: 100%;
  height: 46.2rem;
}

.formdiv {
  background: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftdiv img {
  width: 30rem;
  height: 32rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.rightdiv {
  padding: 6rem;
}

.rightdiv h1 {
  font-size: 23px;
}

.rightdiv p {
  color: gray;
  font-size: 13px;
}

.slectimgdiv img {
  width: 15px;
  height: 15px;
}

.selectdivoption {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.selectdivoption input {
  border: none;
}

.selectdivoption input:focus {
  outline: none;
}

.onlycodeinput {
  margin-bottom: 1%;
  font-size: 14px;
}

.getbtn {
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  border: none;
  background: rgba(251, 140, 0, 1);
  border-radius: 7px;
  color: white;
}
.otpinput {
  border: 0.7px solid red;
  border-radius: 0.5rem;
  outline: none;
  min-width: 2.2rem;
  height: 2.2rem;
}
@media screen and (max-width: 780px) {
  .mainauthdiv {
    background: radial-gradient(
      104.92% 104.92% at -2.66% 53.79%,
      #20a4ff 0%,
      #53b9ff 25.83%,
      #ffd4af 70.62%,
      #ffd4af 100%
    );
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .formdiv {
    flex-direction: column;
    padding-top: 0%;
    padding: 0rem;
    padding-bottom: 8%;
  }

  .leftdiv img {
    width: 21rem;
    height: 21rem;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }
  .rightdiv {
    padding: 0rem;
  }
  .getbtn {
    margin-top: 0rem;
  }
}
