.mainlertdiv {
  background: rgba(255, 255, 255, 1);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.mainlertdiv img {
  width: 50%;
  height: 17rem;
}

.mainlertdiv button {
    background: rgba(251, 140, 0, 1);
    border: navajowhite;
    color: white;
    padding: 1%;
    padding-left: 2%;
    border-radius: 5px;
    padding-right: 2%;
    margin-top: 1%;
}
